<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MercadoLiebre</title>
</head>
<header>
<div class="header">
    <div class="header-encabezado">
        <img  class="logo" src="images/logo-mercado-liebre.svg"/>

        <div class="busqueda">
            <p>Buscar productos, marcas</p>
            <i class="fas fa-search"></i>
        </div>
        <div class="cuotas">
            <i class="fas fa-money-bill-wave"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    <div>
        <ul class="lista">
            <li><a href="/">Ofertas</a></li>
            <li><a href="/">Tiendas Oficiales</a></li>
            <li><a href="/">Vender</a></li>
            <li><a href="/">Ayuda</a></li>
        <ul class="lista">
            <li><a href="/register">Creá tu cuenta</a><i class="fas fa-user-alt"></i></li>
            <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="/">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
        </ul>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
</div>

</header>

<main>
    <div class="contenedor-carrusel"></div>
    <img class="carrusel-imagen" src="images/img-home-banner.jpg"/>
    <h1 class="titulo-seccion">Basado en tu última visita</h1>
</div>        
    <section>
        <article class="producto-1">
            <img class='producto-img' src="images/img-cafetera-moulinex.jpg"/>
            <div class="caja">
                <i class="fas fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class=" descuento">40% off</p>
            <h2 class="descripcion">Cafetera Moulinex</h2>
        </div>
        </article>
        <article class="producto-2">
            <img class='producto-img' src="images/img-macbook-pro-2019.jpg"/>
            <div class="caja">
                <i class="fas fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <h2 class="descripcion">MacBook Pro 2019</h2>
            </div>
        </article>
        <article class="producto-3">
            <img class='producto-img' src="images/img-samsung-galaxy-s10.jpg"/>
            <div class="caja">
                <i class="fas fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <h2 class="descripcion">Samsung Galaxy S10</h2>
        </div>
        </article>
        <article class="producto-4">
            <img class='producto-img' src="images/img-tv-samsung-smart.jpg"/>
            <div class="caja">
            <i class="fas fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <h2 class="descripcion">SmartTv Samsung 43"</h2>
        </div>
        </article>
    </section>
    
    <h1 class="titulo-seccion">Ofertas</h1>
    <section>
    <article class="producto-1">
            <img class='producto-img' src="images/img-cafetera-moulinex.jpg"/>
            <i class="images/img-cafetera-moulinex.jpg"></i>
            <div class="caja">
                <i class="fas fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <h2 class="descripcion">Cafetera Moulinex</h2>
        </div>
        </article>
        <article class="producto-2">
            <img class='producto-img' src="images/img-macbook-pro-2019.jpg"/>
            <div class="caja">
            <i class="fas fa-truck"></i>
            <p class=" precio">$230.000</p>
            <p class="descuento">20% off</p>
            <h2 class=" descripcion">MacBook Pro 2019</h2>
        </div>
        </article>
        <article class="producto-3">
            <img class='producto-img' src="images/img-samsung-galaxy-s10.jpg"/>
            <div class="caja">
            <i class="fas fa-truck"></i>
            <p class=" precio">$70.500</p>
            <p class="descuento">10% off</p>
            <h2 class="descripcion">Samsung Galaxy S10</h2>
            </div>
        </article>
        <article class="producto-4">
            <img class='producto-img' src="images/img-tv-samsung-smart.jpg"/>
            <div class="caja">
            <i class="fas fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <h2 class="descripcion">SmartTv Samsung 43"</h2>
        </div>
        </article>
        </section>
</main>

<footer class="footer">
    <div class="footer-div">
        <i class="fas fa-credit-card"></i>
        <h1 class="footer-div-titulo">Pagá con tarjeta o en efectivo</h1>
        <p class="footer-div-descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="footer-div">
        <i class="fas fa-gift"></i>
        <h1 class="footer-div-titulo">Envio gratis desde $ 2.500</h1>
        <p class="footer-div-descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>    
    </div>
    <div class="footer-div">
        <i class="fas fa-user-shield"></i>
        <h1 class="footer-div-titulo">Seguridad, de principio a fin</h1>
        <p class="footer-div-descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
</footer>
    <div class="Copyright"> 
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>   
</html>
