<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MercadoLiebre</title>
</head>
</html>

<main>
    <div class="formulario-login">
        <h4>Login de usuario</h4>
            <label for="nombre">Nombre de usuario</label>
            <input class="controls" type="text" name="Nombre de usuario" id="Nombre de usuario">
            <label for="user">contraseña:</label>
            <input class="controls" type="text" name="contraseña" id="contraseña">
            <label for="Enviar">Enviar:</label>
            <button onclick="location.href='//localhost:3030/'">
                <option value="enviar">Enviar</option>
        </select>
        </button>
    </div>
    </main>