*{
    margin:0px;
    padding: 0px;
    box-sizing:content-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --amarillo: #eac926;;
    --azul: #03264c;
    --celeste: #bcd2f3;
    --grisOscuro:#797373f5;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
    --fuentePrincipal: "Roboto", sans-serif;
    --blanco: white;
}
.formulario-login{
    width: 80%;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    background-color: var(--celeste);
}
.controls{
    width: 90%;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 16px;
    background: var(--grisoscuro);
    background-color: var(--grisclaro);
}